<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>

    <!-- 字符串拼接 -->
    <div th:text="|今天是${username}的生日|"></div>
    <div th:text="'今天是' + ${username} + '的生日'"></div>

    <!-- 表单中的数据 -->
    <input type="text" name="username" th:value="${username}">
    <input type="text" name="username" th:value="${username1}">

</body>
</html>